/* POLICES */
@font-face {								/*Police Dyno normale*/
	font-family: Dyno regular;
	src: url('fonts/dyno/Dyno Regular.ttf');
}
@font-face {
	font-family: Cicle fina;
	src: url('fonts/cicle/Cicle Fina.ttf');
}
@font-face {
	font-family: Cicle gordita;
	src: url('fonts/cicle/Cicle Gordita.ttf');
	font-weight: bold;
}


/*BARRE DE PROGRESSION */
#progress{
	background-color: #ea5c0d;
	width: 0; height: 3px;
	position: fixed;
	top: 0; left: 0;
	z-index: 9999;
}


/* RETOUR HAUT DE PAGE*/
body #goto_top{
	position: fixed;
	bottom: 25px; right: 25px;
}
body #goto_top img{
	border-radius: 20px;
	width: 75px;
}


/*COMMON STYLES */
body {
	background-color: #333333;
	font-family: Arial;
	font-size: 20px;
	color: white;
	height: 100%;
	margin: 0 0 0 0;
}
h1, h2{
	font-family: Dyno regular;
	text-align: center;
	font-size: 35px;
	text-shadow: 2px 2px black;
	padding-top: 50px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-family: Dyno regular; 
}
p, label {
	font-family: Cicle fina;
}


/* FOOTER */
footer {
	background-color: #505050;
	grid-column: 1/4;
	margin-top: 100px;
}
footer .partenaires {
	padding: 10px 50px;
}
footer .partenaires > div {
	display: inline-block;
	background-size: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 200px; height: 100px;
}
footer .partenaires .f-logoMCN {
	background-image: url(images/logo_mcn.png);
}
footer .partenaires .f-logoUPEM {
	background-image: url(images/logo_upem.png);
	margin-left: 25px;
}
footer .partenaires .f-logoUNESCO {
	background-image: url(images/logo_unesco.png);
	background-size: 50%;
}
footer .partenaires .f-logoIDEA {
	background-image: url(images/logo_idea.png);
}
footer .partenaires .f-logoANR {
	background-image: url(images/logo_anr.png);
	background-size: 44%;
}


/* BARRE DE NAVIGATION */ 
nav {
	background-color: #333333;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	font-size: 25px;
	width: 100%;
	height: 79px;
	border-width: 10px;
	border-bottom: 1px solid black;
	position: fixed;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav a {
	font-family: Dyno regular;
	text-shadow: 0px 0px #b94503;
	text-decoration: none;
	color: #ea5c0d;
	display: inline-block;
	text-align: center;
	padding: 10px 35px;
}
nav .page-actuelle {
	text-shadow: 1px 1px black;
	border: 2px solid #b94503;
	background-color: #505050;
}

#logo_MCN {
	background-image: url(images/logo_mcn.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0% 50%;
	display: inline;
	height: 79px; width: 230px;
}
#logo_UPEM {
	background-image: url(images/logo_upem.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0% 50%;
	display: inline;
	height: 79px; width: 230px;
}


/* VIRGULES POUR TITRES */
main #virgule-titre {
	background-image: url(images/virgule_titre.svg);
	background-size: 235%;
	background-repeat: no-repeat;
	width: 1300px; height: 180px;
	margin: 100px 0 0 0;
	display: block;
}
main #virgule-titre h2 {
	font-size: 65px;
	font-weight: normal;
	text-shadow: none;
	text-align: left;
	margin-left: 155px;
	line-height: 25px;
}

main #virgule-ss-titre {
	background-image: url(images/virgule_sous_titre.svg);
	background-size: 100%;
	background-position: 9px 0px;
	background-repeat: no-repeat;
	width: 1200px; height: 140px;
	margin: 40px 0 0 100px;
	display: block;
}
main #virgule-ss-titre h3 {
	font-weight: normal;
	font-size: 40px;
	text-shadow: none;
	text-align: left;
	margin-left: 55px;
	margin-top: 0;
}


/* PAGE INDEX.HTML */
.container-i main {
	display: grid;
	grid-template-columns: 15% auto 15%;
}
.container-i main article {
	grid-column: 2/3;
}

/* 1 */
.a1 {
	background-image: url(images/accueil.jpeg);
	background-size: 100%;
	background-position: 50% 81%;
	background-repeat: no-repeat;
	padding-top: 79px;
	width: 100%; height: 450px;
	grid-column: 1/4;
}
.a1 h1 {
	text-align: center;
	font-size: 50px;
	margin: 0 auto;
	padding: 200px; 
	text-shadow: black 0.1em 0.1em 0.2em
}

/* 2 */
.a2 {
	grid-column: 2;
	background-color: #333333;
	max-width: 100%;
	padding: 50px 0;
}
.a2 #texte_image1_1 {
	padding: 50px 0;
	height: auto;
}
.a2 #image1_1 {
	background-image: url(images/presentation.jpg);
	background-size: 100%;
	width: 450px; height: 300px;
	margin: 30px 50px 0 0;
	border: 2px solid black;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	border-radius: 5px;
	float: left;
}
.a2 #texte1_1 p {
	line-height: 30px;
	font-size: 25px;
	text-align: justify;
}

/* 3 */
.a3 {
	grid-column: 2;
	background-color: #333333;
	max-width: 100%;
}
.a3 a {
	text-decoration: none;
}
.a3 .boutons {
	justify-content: space-evenly;
	display: flex;
	text-align: center;
}
.a3 #test {
	font-size: 40px;
	font-family: Dyno regular;
	text-align: center;
	border: solid;
	border-radius: 5px;
	justify-content: center;
	background-color: #333333;
	padding-left: 20px;
	padding-right: 20px;
	transition-duration: 0.6s;
	border-color: #ea5c0d;
	color: #ea5c0d;	
}
.a3 #test:hover {
	transition-duration: 0.8s;
	background-color: #ea5c0d;
	color: #333333;
	border-color: #ea5c0d;
}
.a3 .boutons p {
	line-height: 90px;
}

/*4*/
.a4 {
	grid-column: 2;
	background-color: #333333;
	max-width: 100%;
	padding-bottom: 75px;
}
.a4 div {
	width: 80%;
	margin: 0 auto 35px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
}

.a4 div span {
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	margin: 15px 0;
	border: 1px solid black;
	border-radius: 10px;
	background-color: black;
	background-size: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 330px; height: 215px;
}
.a4 .container-see-more {
	margin: 0 auto;
}
.a4 .see_more {
	color: #ea5c0d;
	font-family: Dyno regular;
	font-size: 30px;
	text-decoration: none;
	text-align: center;
	line-height: 69px;
	padding: 0 15px;
	border: solid #ea5c0d;
	border-radius: 5px;
	transition-duration: 0.6s;
}

.a4 .see_more:hover {
	transition-duration: 0.8s;
	background-color: #ea5c0d;
	color: #333333;
	border-color: #ea5c0d;
}
.a4 div span:nth-child(1) {
	background-image: url(images/image5.jpg);
	background-size: 118%;
}
.a4 div span:nth-child(2) {
	background-image: url(images/image6.jpg);
}
.a4 div span:nth-child(3) {
	background-image: url(images/image7.jpg);
}
.a4 div span:nth-child(4) {
	background-image: url(images/accueil.jpeg);
}
.a4 div span:nth-child(5) {
	background-image: url(images/image3.jpg);
}
.a4 div span:nth-child(6) {
	background-image: url(images/image8.jpg);
}
.a4 div span:nth-child(7) {
	background-image: url(images/image9.png);
}
.a4 div span:nth-child(8) {
	background-image: url(images/image10.png);
}


/* PAGE HISTOIRE.HTML */
.sommaire {
	width: 450px;
	grid-column: 1; grid-row: 3;
	background-color: #505050;
	border: 4px solid #b94503;
	border-radius: 8px;
	margin: 18px auto;
	padding: 10px;
	transition-duration: 0.3s;
}
.sommaire h3 {
	font-size: 30px;
	font-weight: normal;
	text-align: center;
}
.sommaire li {
	font-family: Cicle Gordita;
}
.sommaire a {
	text-decoration: none;
	color: white;
}
.sommaire:hover {
	transition-duration: 0.3s;
	border-color: #f7af3e;
}
.sommaire a:hover {
	text-decoration: underline;
}

.container-h main {
	display: grid;
	grid-template-columns: 15% auto 15%;
}
.container-h main section {
	grid-column: 2;
}
.container-h p {
	font-size: 25px;
	line-height: 35px;
}
.container-h img {
	width: 450px;
	border-radius: 5px;
}
.container-h main .h1 {
	background-image: url(images/image4.jpg);
	background-size: 103%;
	background-position: 64% 73%;
	background-repeat: no-repeat;
	padding-top: 79px;
	width: 100%; height: 450px;
	grid-column: 1/4;
}
.container-h main .h1 h1 {
	text-align: center;
	font-size: 50px;
	margin: 0 auto;
	padding: 200px;
	text-shadow: black 0.1em 0.1em 0.2em
}
.first-title-history {
	margin-top: 60px !important;
}
.container-h main .text-centered {
	text-align: center;
}
.container-h main img {
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.container-h main .img1 {
	float: left;
	margin: 5px 35px;
}
.container-h main .img2 {
	float: right;
	margin: 50px 35px;
}
.container-h main .img3 {
	display: block;
	margin: 0 auto 50px auto;
}
.container-h main .img4 {
	float: left;
	box-shadow: none;
	width: 20%;
	margin-right: 35px;
}
.container-h main .img5 {
	display: block;
	margin: 0 auto;
}
.container-h main .img6 {
	float: right;
	margin: 0 35px;
}


/* PAGE VISITER.HTML */
.container-v main .big-picture {
	background-image: url(images/image6.jpg);
	background-size: 100%;
	background-position: 64% 100%;
	background-repeat: no-repeat;
	padding-top: 79px;
	width: 100%; height: 450px;
	grid-column: 1/4;
}
.container-v main h1 {
	text-align: center;
	font-size: 50px;
	margin: 0 auto;
	padding: 200px;
	text-shadow: black 0.1em 0.1em 0.2em
}
.container-v main div > .text-plus-title::-webkit-scrollbar {
    width: 10px;
}
.container-v main div > .text-plus-title::-webkit-scrollbar-track {
  	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.container-v main div > .text-plus-title::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
}
.container-v main {
	display: grid;
	grid-template-columns: 15% auto 15%;
}
.container-v main .text-plus-title {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	height: 290px;
}
.container-v main h3 {
	margin-block-start: 1.5em;
	font-size: 25px;
}
.container-v main p {
	font-size: 23px;
	text-align: justify;
	line-height: 25px;
	margin-right: 50px;
}
.container-v main > div:not(.big-picture) {
	grid-column: 2;
	margin: 50px 0;
	background-color: #505050;
	border: 2px solid black;
	border-radius: 8px;
	height: 305px;
}
.container-v main div > div:first-child {
	margin-right: 50px;
	border-right: 2px solid black;
}
.container-v main .image {
	background-repeat: no-repeat;
    width: 364px; height: 305px;
    float: left;
}

.container-v main .kazneh-img {
	background-image: url(images/al_kazneh.jpg);
    background-size: 125%;
    
}
.container-v main .ad-deir-img {
	background-image: url(images/kazneh.png);
    background-size: 100%;
}
.container-v main .theatre-img {
	background-image: url(images/image3.jpg);
    background-size: 112%;
}
.container-v main .aqueducs-img {
	background-image: url(images/aqueducs.jpg);
    background-size: 125%;
}

/*PAGE GALERIE D'IMAGE*/
.container-g main {
	display: grid;
	grid-template-columns: 15% auto 15%;
}
.container-g main .big-picture {
	background-image: url(images/image10.png);
	background-size: 100%;
	background-position: 64% 52%;
	background-repeat: no-repeat;
	padding-top: 79px;
	width: 100%; height: 450px;
	grid-column: 1/4;
}
.container-g main h1 {
	text-align: center;
	font-size: 50px;
	margin: 0 auto;
	padding: 200px;
	text-shadow: black 0.1em 0.1em 0.2em
}
.container-g main div:not(.big-picture) {
	grid-column: 2/3;
	margin-top: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
}
.container-g main div > div {
	width: 350px; height: 350px;
	margin-bottom: 75px;
}
.container-g main div div > img {
	width: 100%; height: 100%;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	background-size: 100%;
	background-repeat: no-repeat;
}
.container-g main div div > p {
	text-align: center;
}


/*PAGE INFORMATIONS*/
.container-if main #virgule-titre, .container-if main #virgule-titre > h2 {
	font-size: 60px !important;
	font-weight: normal;
	grid-column: 2/3;
	padding-top: 0;
}
.container-if main #virgule-ss-titre {
	background-position: 0% -3%;
	width: 645px; height: 100px;
	margin: 0;
}
.container-if main #virgule-ss-titre h3 {
	margin-left: 25px;
}

.container-if main {
	display: grid;
	grid-template-columns: 15% auto 15%;
}
.container-if main .big-picture {
	background-image: url(images/image12.png);
	background-size: 100%;
	background-position: 64% 68%;
	background-repeat: no-repeat;
	padding-top: 79px;
	width: 100%; height: 450px;
	grid-column: 1/4;
}

.container-if main .big-picture h1 {
	text-align: center;
	font-size: 50px;
	margin: 0 auto;
	padding: 200px;
	text-shadow: black 0.1em 0.1em 0.2em
}
main .map {
	background-color: #505050;
	grid-column: 2/3;
	width: 100%; height: 600px;
	margin-top: 100px;
}
.map iframe {
	width: 100%; height: 100%;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.texte-horaires {
	grid-column: 2/3;
	text-align: center;
	margin-bottom: 35px;
}
.divers {
	grid-column: 2/3;
	display: flex;
	justify-content: space-between;
}
.divers .diplo {
	text-align: justify;
}
.divers > div {
	width: 45%;
}
.trad-mo p {
	padding-left: 40px;
}
.conv-monnaie {
	background-color: #505050;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	width: 100%; height: 175px;
	margin: 25px auto 0 auto;
	border: 2px solid #ea5c0d;
	border-radius: 10px;
}
.conv-monnaie:hover {
	transition-duration: 0.3s;
	border-color: #f7af3e;
}
.conv-monnaie form {
	width: 100%; height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
form .mini-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}
.conv-monnaie input[type=text], input[type=submit] {
	font-family: Cicle fina;
	font-size: 20px;
	border: 1px solid black;
	width: auto; height: 25px;
	padding: 10px;
}
.conv-monnaie input[type=submit] {
	background-color: white;
	font-size: 20px;
	width: auto; height: auto;
	margin: 0 auto;
	padding: 9px 14px;
	border-radius: 7px;
}
.conv-monnaie input::placeholder {
	font-family: Cicle gordita;
	font-weight: bold;
}
.conv-monnaie span {
	background-image: url('images/double-fleche.png');
	background-size: 99%;
	background-repeat: no-repeat;
	width: 75px; height: 75px;
}
.conv-monnaie p {
	color: red;
	text-align: center;
}
.autre {
	grid-column: 2/3;
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}
.autre > div {
	width: 47%;
}
.etoiles {
	width: 200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-evenly;
}
.etoiles > span {
	background-image: url(images/etoiles.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 40px; height: 40px;
	margin: 50px 0;
}
.hotel > p, .resto > p {
	text-align: justify;
}
.container-hotel, .container-resto {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container-hotel > div:not(.etoiles), .container-resto > div:not(.etoiles) {
	background-color: #505050;
	width: 400px; height: auto;
	margin-bottom: 30px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	border: 2px solid black;
	border-radius: 5px;
}
.container-if .image {
	width: 400px; height: 267px;
	background-size: 100%;
	background-repeat: no-repeat;
	border-bottom: 2px solid black;
}
.container-hotel h3, .container-resto h3 {
	font-size: 30px;
	font-weight: normal;
	text-align: center;
	text-decoration: underline #f7af3e;
}
.container-if h4 {
	color: #f7af3e;
	font-size: 25px;
	font-weight: normal;
	text-align: center;
}
.container-if li, p {
	font-family: Cicle Fina;
	font-size: 23px;
}
.container-hotel p, .container-resto p {
	padding-left: 20px !important;
}
.container-hotel a, .container-resto a, .divers a {
	color: white;
	text-decoration: underline #f7af3e;
}
.hotel1 {
	background-image: url("images/hotel-image1.jpg");
}
.hotel2 {
	background-image: url("images/hotel-image2.jpg");
}
.resto1 {
	background-image: url("images/resto-image1.jpg");
}


/*PAGE CONTACT*/
.container-c main {
	display: grid;
	grid-template-columns: 15% auto 15%;
}
.container-staff .deux-ss-titre {
	margin-top: 75px !important;
}
.container-staff, .container-form {
	grid-column: 2/3;
}
.auteurs {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.auteurs > div {
	margin: 50px 25px 0 25px;
	width: 200px; height: auto;
}
.auteurs div div {
	background-size: 100%;
	width: 200px; height: 200px;
	border-radius: 100px;
}
.auteurs .img-ama {
	background-image: url('images/Amalaric.jpg');
}
.auteurs .img-ama:hover {
	background-image: url('images/Amalaric_petra.jpg');
}
.auteurs .img-bastou {
	background-image: url('images/Bastien.jpg');
}
.auteurs .img-bastou:hover {
	background-image: url('images/Bastien_petra.jpg');
}
.auteurs .img-dydy {
	background-image: url('images/Dylan.jpg');
}
.auteurs .img-dydy:hover {
	background-image: url('images/Dylan_petra.jpg');
}
.auteurs .img-quent {
	background-image: url('images/Quentin.jpg');
}
.auteurs .img-quent:hover {
	background-image: url('images/Quentin.png');
}
.auteurs .img-ivan {
	background-image: url('images/ivan2.webp');
}
.auteurs .img-ivan:hover {
	background-image: url('images/Ivan.JPG');
	background-position: 0 28px;
}
.reseaux {
	display: flex;
	justify-content: space-evenly;
}
.reseaux a {
	width: 25px; height: 25px;
	background-size: 100%;
	background-position: 0 0;
	background-repeat: no-repeat;
	display: inline;
}
.linkedin {
	background-image: url('images/linkedin.png');
	width: 25px; height: 25px;
}
.github {
	background-image: url('images/github.png');
}
.instagram {
	background-image: url('images/instagram.png');
}
.auteurs div p {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}
.role {
	padding-top: 5px;
	border-top: 2px solid black;
}

.formulaire {
	background-color: #505050;
	width: 750px;
	border: 2px solid #f7af3e;
	border-radius: 5px;
	margin: 40px auto 0 auto;
	padding: 20px;
}
.formulaire form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.formulaire input, textarea {
	font-family: Cicle fina;
	font-size: 20px;
	width: 80%; height: 35px;
	margin: 10px; padding: 5px;
	border-radius: 5px;
}
.container-form .formulaire form textarea {
	height: 300px;
}
.formulaire input[type=submit] {
	border-style: none;
	width: 100px; height: 35px;
}